html{
    margin:0;
    padding:0;
}

body{
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color:white;
}


.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.playername{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
.player1, .player2{
    margin: 10vh;
    
}

.card1, .card2 {
    margin:1px solid black;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 220, 154);
    padding: 10px;
    
}

.name{
    background-color: rgb(216, 177, 94);
    font-weight: bold;
}

.image-opponent{
    width:200px;
}
.allStats, .allStats2{
    background-color: rgb(216, 177, 94);
}
.allStats2{
    display: none;    
}

.totalCards1, .totalCards2{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}